.list-section {
  
    border-radius: 6px;
    display: flex;
    margin: 5px;
    line-height: 2;
    align-items: center;
    background: #38a1f2;
    -webkit-box-shadow: 3px 1px 14px -3px rgba(0,0,0,0.62);
    -moz-box-shadow: 3px 1px 14px -3px rgba(0,0,0,0.62);
    box-shadow: 3px 1px 14px -3px rgba(0,0,0,0.62);


    
}

.list__check {
    margin-right: 20px;
    width: 15px;
    margin-left: 5px;
    height: 15px;
}

.list__content {
    text-overflow: ellipsis;
    color:white;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: nowrap;
    
    
    
}